*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-around;
    padding: 12px 30px;
    background-color: rgb(143, 134, 134);
    color: white;
}
.header ul{
    display: flex;
    gap: 40px;
    font-size: 2em;
    font-weight: 400;
    list-style: none;

}

.header h1{
    font-weight: 2em;
    margin-right: 100px;
}
.herosection{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.left{
    width: 40%;
    padding: 29px;
}
.left p{
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left h1{
    font-size: 3em;
}
.left button{
    background-color: black;
    padding: 10px 40px;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
}
.right img{
    border-radius: 5px;
    width: 500px;
}

/* section two */
.boxs{
    display: flex;
    justify-content:space-around;
    gap: 100px;
    margin-top: 30px;
}
.box img{
    width: 300px;
}
.box{
    background-color: #fff;
    width: 300px;
    padding: 12px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 2px solid black;
}
.box .price{
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding-top: 20px;
}
.box button{
    margin-top: 20px;
    background-color: blue;
    color: white;
    width: 100%;
    padding: 14px 40px;
    border: none;
    background-repeat: 9px;
    font-size: 16px;
    font-weight: 700;
}


/* footer */
.footer h1{
    background-color: gray;
    margin-top: 20px;
    font-size: 3em;
    padding-left: 400px;


}

    


    


    