*{
    margin: 0;
    padding: 0;
}

.header{
display: flex;
justify-content: space-between;
padding: 12px 30px;
}

.header ul{
    display: flex;
    gap: 40px;
    font-size: 2em;
    font-weight: 400;
    list-style: none;
}

.header button{
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 10px 30px;
    border: none;
} 

.hero{
    display: flex;
    justify-content: space-around;
   
    
}
.right img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 10px;

    
}

.left{
margin-top: 100px;

}

.left h1{
    font-size: 4 em;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 20%;
}
.left button{
    border: none;
    border-radius: 10px;
    background-color: blue;
    padding: 10px 30px;
    margin-top: 30px;
    color: white;
}


/* title */
#title{
    text-align: center;
    font-size: 4em;
    margin-top: 90px;
}

hr{
    margin-bottom: 40px;
    margin-top: 8px;
    width: 140px;
    height: 3px;
    border: none;
    background-color: blue;
    margin-left: 45%;
}


