*{
    margin: 0;
    padding: 0;
}

.hero{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(qol\ fadhi.png);
    background-size: cover;
    background-position: center;
     
    width: 100%;
    height: 100vh;
}

.hero ul li{
    display: flex;
    justify-content: space-between;
    color: white;

}

.hero {
    color: white;
    text-align: center;
    padding-left: 12%;
    padding-top: 12px;
    padding-right: 12%;
}


.card{
    display: flex;
}
.boxs{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  
}
.box{
  width: 180px;
  height: 330px;
  background-color: rgb(219, 212, 212);
  padding: 5px;
  text-align: center;
}
.box h1{
  font-size: 20px;
}
.btn{
  display: flex;
  gap: 10px;
}
#bb{
  background-color: green;
  padding: 4px 15px;
  border: none;
  border-radius: 5px;
  color: white;
}

.bh{
  display: flex;
  gap: 50px;
  justify-content: center;
}

.swro{
  width: 100%;
  height: 300px;
  display: flex;
  gap: 20px;
  background-color: rgb(207, 235, 155);
  justify-content: center;
}
.swro img{
  width: 150px;
  margin: 10px;
  text-align: center;
}


