*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
}

.menu{
    display: flex;
    gap: 60px;
}


.menu ul{
    display: flex;
    gap: 60px;
    font-size: 1.4em;
    font-weight: 200;
    padding-top: 10px;
}
.menu ul li{
    list-style: none;
}

                
.menu #btnLogin{
    padding: 5px 30px;
    background-color: #204e51;
    color: white;
    border: none;
    font-size: 1.3em; 
    border-radius: 8px; 
}


.menu #btnsingup{
    padding: 5px 30px;
    background-color: transparent;
    color: #204e51;
    border-radius: 8px;
    border: #204e51 solid 2px;
    font-size: 1.3em;
    margin-left: 38px;
}

/*section*/

.hero{

    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/assets/image\ 1.png);
     
    width: 100%;
    height: 100vh;

}





/* section three */
.get-start{
    display: flex;
    margin: 90px 0;
    justify-content: space-around;
}

.left-start{
    width: 35%;
    margin-top: 20px;
}

.left-start h1{
    font-size: 3.5em;
    font-weight: 900;
    margin-bottom: 20px;
}


.left-get button{
background-color: green;
color: white;
padding: 8px 30px;
border-radius: 20px;
border: none;
font-size: 1.8em;
margin-top: 30px;
}


.right-get img{
width: 500px;
margin-top: -20px;
}

.right-get{
    position: relative;
}

.since{
    background-color: white;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 1.8em;
    color: rgb(54, 88, 54);
    position: absolute;
    bottom: 40px;
    left: 30%;
}

/* service */
.container{
   text-align: center;
   margin: 90px 0;
}

.container h1{
    color: #204E51;
    font-size: 4em;
}

.box-services{
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: center;
    align-items: center;
}
.box-services i{
    font-size: 3em;
}
.box-services h1{
    font-size: 1.6em;
    margin-top: 20px;
}

.services{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 200px;
    justify-content: space-around;
    gap: 90px;
}


/* testtional */

.Testmonials{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card{
    background-color: #204E51;
    width: 800px;
    height: 300px;
    border-radius: 10px;
}

#imgone{
    background-color: rgb(44, 46, 48);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 10%;
}

#imgone img{
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
}












* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1f1f1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
}

.menu {
    display: flex;
    gap: 60px;
}

.menu ul {
    display: flex;
    gap: 60px;
    font-size: 1.4em;
    padding-top: 10px;
    font-weight: 200;
}

.menu ul li {
    list-style: none;
}

.menu #btnLogin {
    padding: 5px 30px;
    background-color: #204e51;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1.3em;
}

.menu #btnSignUp {
    padding: 5px 30px;
    background-color: transparent;
    color: #204e51;
    border-radius: 8px;
    border: 2px solid #204e51;
    font-size: 1.3em;
    margin-left: 38px;
}

/* Hero Section */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/image\ 1.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    color: #ffffff;
    font-size: 4em;
    text-align: center;
    padding-top: 140px;
    padding-left: 12%;
    padding-right: 12%;
}

.hero p {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 12px;
    padding-left: 12%;
    padding-right: 12%;
}

#btnGet {
    padding: 8px 30px;
    background-color: #204e51;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1.3em;
}

#btnLearn {
    padding: 5px 30px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 8px;
    border: 2px solid #ffffff;
    font-size: 1.3em;
    margin-left: 38px;
}

.heroBtn {
    padding-top: 20px;
    text-align: center;
}

/* Section Two */
.getStart {
    display: flex;
    margin: 90px 0;
    justify-content: space-around;
}

.getLeft {
    width: 35%;
    margin-top: 20px;
}

.getLeft h1 {
    font-size: 3.5em;
    font-weight: 900;
    margin-bottom: 20px;
}

.getLeft button {
    background-color: #204e51;
    padding: 8px 30px;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    font-size: 1.5em;
    margin-top: 15px;
}

.getRight {
    position: relative;
}

.getRight img {
    width: 500px;
}

.getRight .since {
    background-color: white;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1.5em;
    color: #204e51;
    position: absolute;
    bottom: 50px;
    left: 28%;
}

.service {
    margin-bottom: 30px;
}

.service h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 700;
    color: #204e51;
}

.service p {
    text-align: center;
    font-size: 1.5em;
    color: #656969;
    padding-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 20px;
}

.GridBoxs {
    background-color: #ffffff;
    border-radius: 12px;
    border: none;
    width: 281px;
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GridBoxs i {
    font-size: 80px;
    color: black;
    padding-bottom: 10px;
}

.GridBoxs h2 {
    padding-top: 12px;
    color: #6a9092;
    font-weight: 300;
    text-align: center;
}


/* Features */
#fea {
    margin-top: 200px;
}

.feaBox {
    background-color: white;
    width: 281px;
    height: 508px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}

.feaBox h1 {
    font-size: 40px;
    font-weight: 400;
}

.feaBox p {
    font-size: 20px;
    font-weight: 400;
}

.feature {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#fea h2 {
    text-align: center;
    padding-top: 30px;
    text-decoration: underline;
    color: #204e51;
}

/* Features */
.qeebtaSawirka {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(/assets/Rectangle\ 4.png);
    width: 100%;
    height: 65vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 150px;
    margin-bottom: 40px;
}

.qeebtaSawirka h1 {
    font-size: 5em;
    color: white;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 30px;

}

.qeebtaSawirka #btnLearn {
    padding: 8px 30px;
    background-color: #204e51;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1.3em;
}

#btnCon {
    padding: 5px 30px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 8px;
    border: 2px solid #ffffff;
    font-size: 1.3em;
    margin-left: 38px;
}

/* Benefits */
.benefit {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 120px;
}

.benLeft {
    width: 30%;
    margin-top: 80px;
}

.benLeft h1 {
    font-size: 4em;
    padding-bottom: 20px;
    color: #204e51;
}

.benLeft p {
    font-size: 1.3em;
    color: #656969;
    padding-bottom: 20px;
}

.benLeft button {
    padding: 10px 30px;
    background-color: #204e51;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.benRight {
    background-color: #204e51;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}

.ye {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.ye img {
    width: 70px;
    height: 70px;
}

.ye p {
    color: #cdd7d7;
}

/* Testimonial */
.card {
    background-color: #204e51;
    width: 800px;
    height: 400px;
    border-radius: 10px;
}

.Testimonial {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 90px;
}

#imgOne {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 10%;
}

#imgOne img {
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



.ls {
    margin-bottom: 20px;
}

.ls .start {
    color: goldenrod;
    font-size: 30px;
    padding-bottom: 20px;
}

.ls h1 {
    font-size: 2em;
    color: white;
    padding-bottom: 10px;
}

.ls #Forward {
    color: #c3dada;
    padding-bottom: 20px;
}

.ls p {
    font-size: 1.1em;
    color: #c3dada;
}

/* Blog */
.blog {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.blogBox {
    width: 400px;
    margin-bottom: 30px;
}

.blogBox h1 {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #204e51;
}

.blogBox p {
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 300;
    color: #939393;
}

.blogBox span {
    text-decoration: underline;
    color: #6a9092;
}

/* Footer */
footer{
    background-color: #204e51;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.logo h1{
    margin-bottom: 30px;
    font-size: 3em;
}
.logo p{
    margin-bottom: 30px;
    font-size: 1.1em;
}

.links{
    display: flex;
    gap: 200px;
}

.icon {
    font-size: 2em;
}

.pages, .link{
    font-size: 1.2em;
   margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
ul li{
    list-style: none;
    line-height: 2em;
}



.get-start:hover.left-get{
transform: translate(-900px);
}

.get-start:hover.right-get{
transform: translate(-900px);
}


.left-get{
    transition: all 1s ease-in-out;
    
}


