*{
    padding: 0;
    margin: 0;
}
body{
   
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(living\ room.jpg);
     background-position: center;
     background-size: cover;
    width: 100%;
    height: 100vh;

    color: white;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.header h1{
    color:rgb(248, 248, 248)
}



ul {
    display: flex;
    gap: 70px;
    font-size: 20px;
}
ul li{
    list-style: none;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
    font-size: 20px;
}
.left{
    margin-left: 200px;
}

.left h3 {
    font-size: 30px;
    margin-bottom: 20px;

   
}
.left h4 {
    margin-bottom: 15px;
    font-size: 40;
}
.left p {
   margin-bottom: 15px;
}

.bandhan{
    display: flex;
    gap: 40px;
}
.me{
    background-color: blueviolet;
    padding: 5px 15px;
    color: white;
    border-radius: 30px;
}
.pro{
    
  background-color: blueviolet;
    padding: 5px 15px;
    color: white;
    border-radius: 30px;  
    
}


.right img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
}

.about1{
margin-left: 90px;

}
.about1 h5 {
    font-size: 20px;
    color: rgb(244, 236, 236);
    margin-top: 60px;
    margin-bottom: 20px;

}
.kor{
    display: flex;
    margin-top: 30px;
    
}
.kor #five {
    color: brown;
    font-size: 50px;
    


}
.

.boxcontainer{
    margin: 70PX;
    padding: 40PX
    
  
    
    

}
.boxcontainer .box1{
    width: 100px;
    height: 1oopx;
}