.header{
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  background-color:white rgb(255, 255, 255);
  border-radius: 25px;
}


.header h1 {
  font-size: 2.3em;
  padding-left: 10px;
}


.header ul{
  display: flex;
  gap: 70px;
  padding-top: 20px;
  margin-right: 20px;
  font-size: 1.2em;
}

body{
  background-color:  rgb(214, 139, 1);
  color: white;

}

ul{
  list-style: none;
}

#h1{
  font-size: 3.2em;
  padding: 20px 20px;
}

.title p{
  margin-top: -50px;
  margin-left: 20px;
}

.title a{
  margin-top: -65px;
  margin-left: 20%;
  text-decoration: none;

}

img{
  width: 400px;
  height: 300px;
}

image{
  margin-top: _200px;
  margin-left: 50%;

}

.img1 p{
  margin-top: -1px;
  margin-left: 50%;
  font-size: 0.7em;
  
}

.title a i{
  font-size: 0.5em;
}
.center{
  width: 30%;
  height: 100vh;
  display: flex;
 
  
  align-items: center;
  
}

