*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
}
.header{
    font-size: 2em;
}
.header ul{
    display: flex;
    gap: 40px;
    padding-top: 10px;
    font-size: 1em;
}
.header ul li{
    list-style: none;
}
 /*her */

 #login{
    background-color: orange;
    padding: 8px 26px;
    border: none;
    color: white;
    border-radius: 7px;
    
 }
l
 #login2{
    background-color: transparent;
    padding: 8px 26px;
    border: 2px solid white;
    color: white;
    border-radius: 7px;
 }
 img{
    width: 400px;
    height: 400px;
    border-radius: 50px;
    margin-left: 40px;
 }
 .hero{
    display: flex;
    justify-content: center;
    margin-top: 40px;

 }
 .left{
    width: 30%;
    padding-top: 40px;
 }
 .right{
    width: 30%;
 }