*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(211, 166, 173);
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: palevioletred;
    color: white;
    /* gap: 200px; */
    padding: 10px 40px;
    background-color: pink;
   
}
.header ul{
    display: flex;
    gap: 30px;
    font-size: 2em;
    list-style: none;
}
.header h1{
    font-weight: 2em;
    color: white;
  
}
.button{
    background-color: rgb(194, 118, 130);
    border: 10px;
    /* width: 12px 20px; */
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1em;
  margin-top: 10px;
  color: white;
  
}

.leftcar{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(pink\ car.webp);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;

}

.leftcar {
   
    justify-items: center;
    color: white;
    font-size: 1.5em;
}

.leftcar h1{
    padding: 30px;
   
}


/* 2 */


header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:rgb(133, 65, 76);
  padding:20px 50px;
  
}

/* sawirka */
header img{
  width:250px;
  height:auto;
  border-radius:15px;
}

/* qoraalka dhexda */
.text{
  flex:1;
  margin-left:30px;
}

.text h1{
  color:white;
  font-size:2em;
}

.text p{
  color: white;
  font-size:14px;
  line-height:1.4;
}

/* labada button */
.buttons{
  display:flex;
  gap:10px;
 
}

.buttons a{
  background:rgb(122, 36, 50);
  color:#fff;
  text-decoration:none;
  padding:8px 15px;
  border-radius:20px;
  font-size:14px;
 
}





.Expensive{
    /* display: flex;
    justify-content: center; */
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

.expend h1{
    color: white;
    font-size: 2em;
    
    
}


.expend h5{
    color: white;
    font-weight: 300;
}

.buttons1{
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 16px;
    gap: 40px;
    
}

.one{
    background-color: palevioletred;
    padding: 10px;
   border-radius: 10px;
   border: none;
   color: white;
}
.two{
    background-color: palevioletred;
    padding: 10px;
   border-radius: 10px;
   border: none;
   color: white;
}

.three{
    background-color: palevioletred;
    padding: 10px;
   border-radius: 10px;
   border: none;
   color: white;
}
.four{
    background-color: palevioletred;
    padding: 10px;
   border-radius: 10px;
   border: none;
   color: white;
}

/* last */

.last{
    display: flex;
    background-color: pink;
    width: 300px;
    border-radius: 20px;
    color: white;
    margin-right: 100px;
    margin: 20px;
   
   
}


.last1{
    margin: 20px;
    
}
.icons{
    display: flex;
    color: palevioletred;

}

.iconame{
    color: white; 
}

.lastbuton{
    background-color: palevioletred;
    border-radius: 20px;
    border: none;
   width: 160px;
   padding: 10px;
   font-size: 1.8em;
    color: rgb(32, 31, 31);
   margin: 20px;
}

.footer{
     display: flex;
    justify-content: space-around;
    background-color: palevioletred;
    color: white;
    /* gap: 200px; */
    padding: 0px 40px;
}

.footer{
     font-weight: 2em;
    color: white;
}

.footer i{
    
   
    width: 12px 20px;
    padding: 5px 20px;
   
    font-size: 1.8em;
  margin-top: 10px;
  color: white;
}
