.gride-container{
    display: grid;
    grid-template-columns: 300px 300px auto;
    gap: 10px;
    grid-template-rows: 300px ;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: blue;
}
