*{
    padding: 0;
    margin: 0;
}

.parant{
    display: flex;
    background-color: black;
    justify-content: space-around;
    margin: 10px;
    color: white;
   

}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin:0  auto;
}
.right{
    display: flex;
    gap: 80px;

}
p{
    margin: 0;
    font-size: 18px;
}

.barant{
    display: flex;
    background-color: yellow
}
