/* input{
    width: 390px;
    height: 70px;
    font-size: 2em;
    border: 3px solid green;
    border-radius: 90px;
    padding-left: 30px;
    outline: none;
    outline-color:red ;
}
label{
    font-size: 3em;
    font-weight: 900;
} */


.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: blue;
    width: 35%;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
}

.name{
    display: flex;
    justify-content: space-between;
}

label{
    font-size: 1.4em;
    font-weight: 800;
    color: white;
}

.name input{
    width: 180px;
    height: 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 0.9em;
    margin-top: 10px;

    padding-left: 5px;
    background-color: rgb(206, 201, 201);
}

#email{
    width: 450 px;
    height: 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 0.9;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 5px;
    background-color: rgb(194, 189, 189);



}

#file::file-selector-button{
    background-color: yellow;
    width: 90px;
    border: none;
    border-radius: 30px;
}
 
#file::file-selector-button{
    background-color: yellow;
}