body {
  margin: 0;
  padding: 0;
  background-color: #24457d; 
  font-family: Arial, sans-serif;
  color: white;
}


.container {
  max-width: 700px;
  margin: 50px auto;
  text-align: center;
  background-color: #24457d;
}


.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px auto;
  border: 3px solid white;
}


h2 {
  margin: 10px 0 5px 0;
}

.contact {
  font-size: 14px;
  color: #ddd;
}


.section-title {
  text-align: left;
  margin-top: 40px;
  color: #00ff99; 
}

h4 {
  text-align: left;
  margin-bottom: 10px;
}

.description {
  text-align: left;
  line-height: 1.6;
  font-size: 15px;
  color: #eee;
}