body{
margin: 0;
padding: 0;
background-color: blue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;


}
.container{
    max-width: 700px;
    margin: 50px;
    text-align: center;
    background-color: blue;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin: 0 auto ;
    border: 3px solid;
}
