body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    width: 400px;
    height: 200px;
    background-color: blue;
    animation-name: anim;
    animation-duration: 2s;
 /* animation-delay: 3s; */
animation-iteration-count: infinite;
 
}

@keyframes anim{
    0%   {
        /* transform: translatex(-400px); */

        transform: rotate(360deg) scale(1);
        border-radius: 90px;
        background-color: orangered;
        /* transform: scale(); */
    }
    
    50%{
        boder:5px  solid green;
        opacity: 0;
    }

    75%{
        transform: rotate(360deg) scale(0.4);
    }
    100%{
        /* transform: translatex(0); */

        transform: rotate(0) scale(1);
        border-radius: 0;
       background-color: blue;
    }
}