*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(153, 150, 150);
}
.section{
    display: flex;
    justify-content: space-around;
}
.left{
    position: relative;
    padding:20px 40px;
}
.left img{
    width: 300px;
    border-radius: 20px;
}

.left2 img{
    border-radius: 10px;
    border: 4px solid white;
}

.left2{
    position: absolute;
    left: 290px;
    bottom: 70px;
}
.right{
    margin-top: 20px;
    width: 30%;
} 
.right h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5em;
}
.right .icon {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}
p{
    color: rgb(116, 104, 104);
}
i{
   color: rgb(41, 37, 37); 
}

.right #jami{
color: rgb(160, 160, 103);
font-size: 2em;
}