*{
    margin: 0;
    padding: 0;
}
body{
   background-color: white;
 
}



.header{
    display: flex;
    justify-content: space-around;
  
    color: rgb(150, 135, 135);
    /* gap: 200px; */
    /* padding: 5px 20px; */
    /* background-color: gray; */
   
   
    
   
}
.header ul{
    display: flex;
    gap: 40px;
    font-size: 1.2em;
    list-style: none;
    margin: 20px;
}

#hom{
    color: orange;
    font-size: 1.5em;
    
}
.header h1{
    font-weight: o.5em;
    color: rgb(155, 150, 150);
    margin: 20px;
  
}
.button{
  background-color: orange;
 padding: 10px 20px;
 border: none;
 margin: 20px;
 border-radius: no;
}

.img{
    width: 100%;
    height: 600px;
    background-image: url(room.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.4; */
   
}

.iii{
   /* display: flex; */
 justify-items: center;
 padding: 100px;
 color: orange;

}

.icons{
    justify-items: center;
    margin: 20px;
}
.pp{
 color: white;
 

}


.pp p{
    margin: 20px;
    font-size: 1.3;
    color: rgb(194, 190, 190);
}

.ip{
    display: flex;
    justify-content: center;
margin-right: 200px;
    color: rgb(219, 215, 215);
    
}



/* section2 */

.container{
    margin: 30px;
 display: flex;
 gap: 100px;
 color: rgb(3, 3, 3);
 font-size: 0.6em;
 margin-right: 20px;
   
}

.icons22 i{
    color: orange;
  
}


/* section3 */

.diwyn{
 margin: 20px;
 display: flex;
 gap: 40px;
 

}

.text{
    margin: 20px;

}

.text h4{
    color: rgb(189, 165, 125);
}

.text p{
    margin: 10px;
    color: gray;
    font-size: 100%;
}

button{
    background: rgb(158, 137, 98);
    padding: 5px 20px;
    border: none;
    color: white;
}


/* center */

.center{
    justify-items: center;
}

.center h4{
    color:  rgb(155, 132, 89);
}

.left{
    margin: 20px;
    background-color: rgb(214, 208, 208);
    width: 500px;
    padding: 20px;

  
    
}

.lo{
    margin: 10px;
    color: gray ;
}

.con{
    display: flex;
    gap: 300px;
}

.big{
    display: flex;
}

.right{
    margin-top: 20px;
}


/* numbers */

.rating-container {
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.rating-box {
    width: 30%;
}

.icon {
    width: 45px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.status {
    font-size: 14px;
    margin-left: 5px;
}

.excellent {
    color: #4CAF50; /* green */
}

.good {
    color: #3a7db3; /* blue-ish like Tripadvisor */
}

.reviews {
    margin-top: 5px;
    color: #777;
    font-size: 14px;
}

/* end */
.cont{
    display: flex;
}

.button{
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

#veiw{
    background-color: transparent;
    border: 3px  solid rgb(73, 66, 66);
    color: black;
   

}


/* footer */

.foter{
    background-color: rgb(219, 214, 214);
    width: 95%;
 height: 300px;
   margin: 20px;
}

.ippp{
    display: flex;
    gap: 10px;
   margin-top: 30px;
  padding-left: 20px;
}

.ippp i{
   margin-top: 20px;
   margin: 20px;
   color: rgb(230, 201, 75);

}


/* about html */

.img2{
    width: 100%;
    height: 600px;
    background-image: url(bedroom-6.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
  
}


#hee{
    border: 2px solid rgb(119, 112, 112);
    padding: 6px;
}

.button2{


    background-color: red;
 padding: 10px 20px;
 border: none;
 margin: 20px;
 border-radius: 10px;
 width: 8%;
    /* background-color: red;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    width: 10%;
    margin: 10px;
    */
}


.texttt{
   justify-items: center;
 
}

.th{
   padding-top: 100px;
   color: rgb(216, 207, 207);
  
}

.th p{
     margin: 20px;
    margin-right: 50px;
}

.search-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.search-bar {
    width: 95%;
    max-width: 1250px;
    background: #ffffff;
    padding: 25px 35px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 25px rgba(0,0,0,0.15);
}

.item {
    flex: 1;
    padding: 0 25px;
    border-right: 1px solid #e6e6e6;
}

.item:last-child {
    border-right: none;
}

.item h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.item p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #888;
}

.guests {
    position: relative;
    padding-right: 70px;
}

.guest-controls {
    position: absolute;
    right: 0;
    top: 28px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.guest-controls button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #f1f1f1;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.guest-controls span {
    font-weight: bold;
    font-size: 16px;
}

.search-btn {
    width: 55px;
    height: 55px;
    background: #d94b4b;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-wrapper{
    margin-top: 100px;
    
}

/* section2 */

.sct2{
    
  margin: 30px;
}

.sct2 p{
    color: grey;
}


.qybt2{
    margin: 20px;
}
.qybt2 p{
    margin: 10px;
}


.qq{
    display: flex;
}

/* qybt3 */

.lef{
    display: flex;
    gap: 40px;
}
.ttt{
    margin: 20px;
}

 p{
    margin: 20px;
    color: grey;
}

/* lef22 */
.foter33{
   background-color: #5e615f;
}

ul li{
    list-style: none;
    margin: 10px;
}
ul a{
    text-decoration: none;
    color: black;
}


.shadow{
    text-shadow: 2px 2px  10px orangered;
}




/* qybta responsitiveka */

@media (max-width: 600px) {

    .header {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .header ul {
        flex-direction: column;
        gap: 15px;
        margin: 0;
        padding: 0;
    }
    .header ul li{
      display: none;
    }
    

    .button {
        margin: 5px 0 20px 0;
        display: none;
    }

    .img {
        height: 450px;
        padding: 20px;
        text-align: center;
    }

    .iii {
        padding: 40px 10px;
    }

    .ip {
        margin-right: 0;
        justify-content: center;
    }

    .container {
        flex-direction: column;
        gap: 30px;
        font-size: 1em;
    }

    .diwyn {
        flex-direction: column;
        text-align: center;
    }

    .diwyn img {
        width: 90%;
    }

    .text {
        text-align: center;
    }

    .big {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .left {
        width: 90%;
    }

    .right img {
        width: 90%;
    }

    .rating-container {
        flex-direction: column;
        gap: 20px;
    }

    .cont {
        flex-direction: column;
        text-align: center;
    }

    .foter {
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }

    .ippp {
        flex-direction: row;
        padding: 20px 30px 40px 20px;
    }
}

    /* table */
@media (min-width: 600px) and (max-width: 900px) {

    .header {
        flex-direction: column;
        gap: 20px;
    }

    .header ul {
        gap: 30px;
    }
    .header ul li{
      display: none;
    }
    .header button{
      display: none;
    }
    .header h1{
      padding-left: 20px; 
      text-align: center;
      margin-top: 50px;
      
    }
    
    .img {
        height: 500px;
        padding: 40px;
    }

    .container {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .diwyn {
        flex-direction: column;
        text-align: center;
    }

    .big {
        flex-direction: column;
        align-items: center;
    }

    .left {
        width: 80%;
    }

    .right img {
        width: 80%;
    }

    .rating-container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .cont {
        flex-direction: row;
        align-items: center;
    }

    .foter {
        width: 100%;
        height: auto;
    }
}