*{
    margin: 0;
    padding: 0;
}
.sidenav{
    position: fixed;
    width: 20%;
    height: 100vh;
    background-color: green;
}
.content{
    margin-left: 28%;
    padding-top: 30px;
    display: flex;
    gap: 80px;
}
.title{
    display: flex;
    color: white;
    font-size: 1.3em;
    margin-top: 55%;
    gap: 8px;
    margin-left: 30px;
}
.title i{
    display: flex;
    color: white;
    font-size: 1.3em;
    padding-top: 5px;
    gap: 8px;
}

.title2{
    display: flex;
    color: white;
    font-size: 1.3em;
    margin-top: 10px;
    gap: 8px;
    margin-left: 30px;
}
.title2 i{
    display: flex;
    color: white;
    font-size: 1.3em;
    padding-top: 5px;
    gap: 8px;
}
.box{
    background-color: blue;
    width: 300px;
    height: 150px;
    border-radius: 30px;
    color: white;
    font-size: 3em;
    text-align: center;
    padding-top: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.box::after{
   content: "";
   width: 0%;
   height: 100%;
   background-color: orangered;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: -1;
   transition: width 1s ease-in-out;
}
.box:hover::after{
    width: 100%;
}

/* chart */
.pai{
   width: 400px;
   height: 400px;
   background: conic-gradient(
    red 0% 14%,
    yellow 14% 57%,
    blue 57% 72%,
    green 72% 100%
   );
   border-radius: 50%;
   margin-left: 28%;
   margin-top: 180px;
}
.charts{
    margin-left: 24%;
}
.cercle{
    display: flex;
    margin-top: 180px;
    gap: 40px;
}
.color{
    background-color: red;
    width: 40px;
    height: 20px;
    border-radius: 8px;
    margin-top: 8px;
}