.container{
    border: 3px solid orange;
    padding: 20px;
}

#boxone {
    background-color: bisque;
    width: 200px;
    padding: 10px;
    border-radius: 10px;

    
}

#boxtwo{
    background-color: purple;
    width: 200px;
    padding:10px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 200px;
    padding-bottom: 10px;
}

#boxthree{
    background-color: yellow;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 400px;

}