h1{
    color: white;
    background-color: black
    ;
    /* padding: 40px; */
    /* padding: 40px 60px 150px 90px; */
    /* padding-top: 60px;
    padding-left: 80px;
    padding-bottom: 150px;
    padding-right: 90px; */ 
    padding: 120px 20px;
    width: 200px ;
    border: 9px yellow double;
    /* border-top-left-radius:90px ;
    border-top-right-radius: 90px; */
    border-radius: 20px 150px;
    /* border-radius: 40px 20px; */
    /* margin: 40px; */
    /* margin:50px 60px 150px 90px; */
    /* margin: auto 60px ;
    margin: 40px;
    margin-top: 80px;
    margin-bottom: 160px; */
    
}
